.bg-img {
  height: 100%;
  //width: 100%;
  background-image: url('../../assets/images/casque.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
  //inset: 0;
}

.content {
  display: flex;
  margin: 0px auto 0px;
  max-width: 980px;
  flex-direction: column;
  align-items: center;
}

.list-album {
  position: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 10px;
}

.add-album-input {
  position: fixed;
  bottom: 70px;
  right: 20px;
  color: black;
}

.add-album-input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.add-album-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: scale(2);
  color: black;
  cursor: pointer;
}

.album {
  display: flex;
  padding: 40px;
  background-color: lightyellow;
  border-radius: 10px;
  background-size: cover;
}

.album:hover {
  box-shadow: orange 4px 4px 4px;
  cursor: pointer;
}
