<div class="bg-img">
    <div class="list-album" *ngFor="let album of _albums">
      <a *ngIf="(album.name | json) != '{}'">
        <div class="album" (click)="navigate(album.name)">
          {{album.name}}
          <mat-icon class="music-button" title="Delete" (click)="delete(album)">close</mat-icon>
        </div>
      </a>
    </div>

    
    <input type="text" id="name-album" class="add-album-input" placeholder="Entrez un nom d'album" required/>
    <mat-icon class="add-album-button" (click)="ajoutAlbum()">library_add</mat-icon>
  

</div>
